services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && rails server -b 0.0.0.0"
    volumes:
      - '.:/rails_app'
    ports:
      - '3000:3000'
    depends_on:
      - db
    environment:
      RAILS_ENV: development

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: app_development
