<h1><%= h @article.title %></h1>
<div class='px-1'>
  <p><%= simple_format(h(@article.text)) %></p>
</div>
<div class='mt-3 '>
  <%= link_to t('label.edit'), edit_article_path(@article), class: 'btn btn-outline-primary btn-sm' %>
  <%= link_to t('label.destroy'),
        article_path(@article), class: 'btn btn-outline-danger btn-sm',
                               method: :delete,
                               data: { confirm: t('label.destroy_confirm') } %>
</div>
